$font-family: "Open Sans", "Arial", sans-serif;
$font-size: 14px;
$font-size-h1: 24px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-h4: $font-size;
$font-size-h5: $font-size;
$font-size-h6: $font-size;

$line-height: 1.4em;

$accent-color: #1d2631;
$text-color: #283645;
$text-color--white: #d3d4d5;

/* Стили типографики */
h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}
p {
  font-size: $font-size;
  line-height: $line-height;
}

/* Стили страницы */
body {
  font-family: $font-family;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  color: $text-color--white;
  background-repeat: no-repeat;
  background-image: url("../img/page-header__bg1.jpg");
  background-size: 100% 484px;
  background-color: $accent-color;

  &__top-line {
    padding: 20px 6%;
    background: rgba($accent-color, .65);
  }
  &__content {
    height: 356px;
    padding: 30px 13%;
    text-align: center;
    background: url("../img/iphone-hend.png") no-repeat center bottom;
  }
  &__title {
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
  }
}
.main-logo {
  width: 22%;
  &__img {
    display: none;
    float: left;
  }
  &__link {
    line-height: 0.9em;
    font-family: "Gotham Rounded";
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    h1 {
      margin: 0;
      line-height: 0.9em;
      font-family: "Gotham Rounded";
      font-size: 32px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 400;
      color: #fff;
    }
  }
}
.toggle-menu {
  display: block;
  position: absolute;
  top: 31px;
  right: 6%;
  width: 50px;
  height: 4px;
  border: none;
  outline: none;
  background: #fff;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 4px;
    background: #fff;
  }
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 4px;
    background: #fff;
  }
}
.main-menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 69px;
  left: 0;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    a {
      display: block;
      padding: 18px 0;

      font-size: 18px;
      line-height: 32px;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      background: $accent-color;
    }
  }
}
.download-block {
  width: 100%;
  color: $text-color--white;
  &__wrap {
    padding: 28px 6%;
    text-align: center;
  }
  &__btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 36px;
    margin-bottom: 30px;

    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: #fff;

    border: 3px solid #fff;
    border-radius: 40px;
  }
  &__img {
    margin-bottom: 1px;
  }
  &__img-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
    margin-top: 5px;
  }
  &__img-item:nth-child(3n) {
    margin-right: 0;
  }
  &__text {

  }
}
.download-block-1 {
  display: none;
}
.main-content {
  &__advantage-wrap {

  }
  &__headtitle {
    color: $text-color;
    background-color: #fff;
    text-align: center;
    padding: 40px 6%;
    background: url("../img/sprite-pattern-bg.png") no-repeat center bottom;
    background-size: 100% auto;
  }
  &__title-head {
    font-size: 24px;
    font-weight: 300;
  }
  &__advantage-block {
    position: relative;
    padding: 30px 6% 300px;
    text-align: center;
    background: #f1f1f1 url("../img/iphone-helloy.png") no-repeat center bottom;
  }
  &__advantage-content {
    margin-bottom: 40px;
  }
  &__advantage-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__advantage-text {
    font-size: $font-size;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.slider-reviews {
  position: relative;
  padding: 47px 0 70px;
  background: url("../img/sprite-pattern-bg.png") center bottom no-repeat;
  background-size: 100% auto;

  &__slide {
    text-align: center;
    padding: 0 6%;
  }
  &__slide-text {
    font-size: $font-size;
    line-height: 30px;
    color: $text-color;
  }
  &__pagination {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 140px;
    height: 15px;
    text-align: center;
    margin-left: -70px;
  }
  &__pagination-item--active {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 3px solid $accent-color;
    background: #fff;
  }
  &__pagination-item {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 3px solid #fff;
    background: #bec2c7;
  }
}
.tariff-block {
  position: relative;
  padding: 50px 0 100px;
  background: #f1f1f1;

  &__slider {

  }
  &__slide-head {
    padding: 15px 0 10px;
    text-align: center;
    background: $accent-color;
  }
  &__slide-title {
    margin: 0;
    font-size: $font-size-h2;
    text-transform: uppercase;
    color: #fff;
  }
  &__slide-price {
    margin: 9px 0;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: $text-color--white;
  }
  &__slide-flag--hit {
    position: absolute;
    top: 50px;
    left: 0;
    width: 74px;
    height: 73px;
    background: url(../img/sprite-flag--hit.png);
  }
  &__slide-name-tariff {
    position: relative;
    padding: 21px 7%;
    color: #000;
    background: #fff;
    border-bottom: 2px solid #e5e5e5;
  }
  &__slide-name-title {
    font-size: $font-size;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
  }
  &__slide-check-mark {
    position: absolute;
    top: 17px;
    right: 22px;
    width: 29px;
    height: 22px;
    background: url("../img/slide-check-mark.png") no-repeat;
  }
  &__slide-check-mark--cross {
    position: absolute;
    top: 17px;
    right: 25px;
    width: 26px;
    height: 26px;
    background: url("../img/slide-check-mark--no.png") no-repeat;
  }
  &__table {
    display: none;
  }
  &__slider-pagination {
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 140px;
    height: 15px;
    text-align: center;
    margin-left: -70px;
  }
  &__slider-pagination-item {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 3px solid #f2f2f2;
    background: #bec2c7;
  }
  &__slider-pagination-item--active {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 3px solid $accent-color;
    background: #fff;
  }
}
.info-block {
  padding: 40px 6%;
  text-align: center;

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-size: $font-size-h1;
    font-weight: 300;
  }
  &__item {
    margin-bottom: 25px;
  }
  &__item-title {
    color: $text-color;
    margin: 0;
  }
  &__item-text {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    color: #df798f;
  }
}
.map__img {
  position: relative;
  top: 55px;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;

}
/* Стили адаптации*/
@media (min-width: 700px) {
  .page-header {
    background-image: url("../img/page-header__bg2.jpg");
    background-size: 100% 727px;
    &__wrap {
      padding: 92px 6%;
      background: url("../img/iphone-hend1.png") no-repeat center bottom;
    }
    &__content-wrap {

    }
    &__content {
      height: 0;
      padding: 0;
      text-align: center;
      margin-bottom: 190px;
      background: none;
      h2 {
        font-size: 40px;
        font-weight: 300;
        width: 180px;
        margin-left: 52px;
      }
    }
  }
  .page-header__container-left {
    display: block;
    width: 43%;
  }
  .download-block {
    width: 300px;
    &__btn {
      padding: 14px 27px;
    }
    &__text {
      font-size: 18px;
    }
  }
  .download-block__wrap {
    padding: 0;
  }
  .main-logo {
    width: 23%;
    &__img {
      display: block;
      margin: 0 0 10px 0;
    }
    &__link {
      h1 {
        display: none;
      }
    }
  }
  .main-content__advantage-block {
    padding: 30px 6% 0;
    background: #f1f1f1 url("../img/iphone-helloy1.png") no-repeat left bottom;
  }
  .main-content__headtitle {
    background: none;
  }
  .main-content__advantage-wrap {
    background: url("../img/pattern_bg1.png") no-repeat center top;
    background-size: 100% auto;
  }
  .toggle-menu {
    top: 45px;
  }
}
@media (min-width: 321px) {
  .main-content__advantage-block {
    background-color: #f1f1f1;
  }
}
