$font-family: "Open Sans", "Arial", sans-serif;
$font-size: 14px;
$font-size-h1: 24px;
$font-size-h2: 18px;
$font-size-h3: 16px;
$font-size-h4: $font-size;
$font-size-h5: $font-size;
$font-size-h6: $font-size;

$line-height: 1.4em;

$accent-color: #1d2631;
$text-color: #283645;
$text-color--white: #d3d4d5;
$text-color--red: #d54166;

/* Стили типографики */
h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}
p {
  font-size: $font-size;
  line-height: $line-height;
}

/* Стили страницы */
body {
  font-family: $font-family;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  color: $text-color--white;
  background-repeat: no-repeat;
  background-image: url("../img/page-header__bg1.jpg");
  background-size: 100% 484px;
  background-color: $accent-color;

  &__top-line {
    padding: 20px 6%;
    background: rgba($accent-color, .65);
  }
  &__content {
    height: 356px;
    padding: 30px 13%;
    text-align: center;
    background: url("../img/iphone-hend.png") no-repeat center bottom;
  }
  &__title {
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
  }
}
.main-logo {
  width: 22%;
  &__img {
    display: none;
    float: left;
  }
  &__link {
    line-height: 0.9em;
    font-family: "Gotham Rounded";
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    h1 {
      margin: 0;
      line-height: 0.9em;
      font-family: "Gotham Rounded";
      font-size: 32px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 400;
      color: #fff;
    }
  }
}
.toggle-menu {
  display: block;
  position: absolute;
  top: 31px;
  right: 6%;
  width: 50px;
  height: 4px;
  border: none;
  outline: none;
  background: #fff;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 4px;
    background: #fff;
  }
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 4px;
    background: #fff;
  }
}
.main-menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 69px;
  left: 0;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    a {
      display: block;
      padding: 18px 0;

      font-size: 18px;
      line-height: 32px;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      background: $accent-color;
    }
  }
}
.download-block {
  width: 100%;
  color: $text-color--white;
  &__wrap {
    padding: 28px 6%;
    text-align: center;
  }
  &__btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 36px;
    margin-bottom: 30px;

    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: #fff;

    border: 3px solid #fff;
    border-radius: 40px;
  }
  &__img {
    margin-bottom: 1px;
  }
  &__img-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
    margin-top: 5px;
  }
  &__img-item:nth-child(3n) {
    margin-right: 0;
  }
  &__text {

  }
}
.download-block-1 {
  display: none;
}
.main-content {
  &__advantage-wrap {

  }
  &__headtitle {
    color: $text-color;
    background-color: #fff;
    text-align: center;
    padding: 40px 6%;
    background: url("../img/sprite-pattern-bg.png") no-repeat center bottom;
    background-size: 100% auto;
  }
  &__title-head {
    font-size: 24px;
    font-weight: 300;
  }
  &__advantage-block {
    position: relative;
    padding: 30px 6% 300px;
    text-align: center;
    background: #f1f1f1 url("../img/iphone-helloy.png") no-repeat center bottom;
  }
  &__advantage-content {
    margin-bottom: 40px;
  }
  &__advantage-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__advantage-text {
    font-size: $font-size;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.slider-reviews {
  position: relative;
  padding: 47px 0 70px;
  background: url("../img/sprite-pattern-bg.png") center bottom no-repeat;
  background-size: 100% auto;

  &__slide {
    text-align: center;
    padding: 0 6%;
  }
  &__slide-text {
    font-size: $font-size;
    line-height: 30px;
    color: $text-color;
  }
  &__slide-subtitle {
    display: none;
  }
  &__pagination {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 140px;
    height: 15px;
    text-align: center;
    margin-left: -70px;
  }
  &__pagination-item--active {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 3px solid $accent-color;
    background: #fff;
  }
  &__pagination-item {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 3px solid #fff;
    background: #bec2c7;
  }
}
.tariff-block {
  position: relative;
  padding: 50px 0 100px;
  background: #f1f1f1;

  &__slider {

  }
  &__slide-head {
    padding: 15px 0 10px;
    text-align: center;
    background: $accent-color;
  }
  &__slide-title {
    margin: 0;
    font-size: $font-size-h2;
    text-transform: uppercase;
    color: #fff;
  }
  &__slide-price {
    margin: 9px 0;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: $text-color--white;
  }
  &__slide-flag--hit {
    position: absolute;
    top: 50px;
    left: 0;
    width: 74px;
    height: 73px;
    background: url(../img/sprite-flag--hit.png);
  }
  &__slide-name-tariff {
    position: relative;
    padding: 21px 7%;
    color: #000;
    background: #fff;
    border-bottom: 2px solid #e5e5e5;
  }
  &__slide-name-title {
    font-size: $font-size;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
  }
  &__slide-check-mark {
    position: absolute;
    top: 17px;
    right: 22px;
    width: 29px;
    height: 22px;
    background: url("../img/slide-check-mark.png") no-repeat;
  }
  &__slide-check-mark--cross {
    position: absolute;
    top: 17px;
    right: 25px;
    width: 26px;
    height: 26px;
    background: url("../img/slide-check-mark--no.png") no-repeat;
  }
  &__table {
    display: none;
  }
  &__slider-pagination {
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 140px;
    height: 15px;
    text-align: center;
    margin-left: -70px;
  }
  &__slider-pagination-item {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 3px solid #f2f2f2;
    background: #bec2c7;
  }
  &__slider-pagination-item--active {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 3px solid $accent-color;
    background: #fff;
  }
}
.info-block {
  padding: 40px 6%;
  text-align: center;
  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-size: $font-size-h1;
    font-weight: 300;
  }
  &__item {
    margin-bottom: 25px;
  }
  &__item-title {
    color: $text-color;
    margin: 0;
  }
  &__item-text {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    color: #df798f;
  }
}
.research-block {
  display: none;
}
.map__img {
  position: relative;
  top: 55px;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;

}

/* Карта */
.map {
  &__content--tablet {
    display: none;
  }
}

/* Футер */
.page-footer {
  display: none;
  padding: 30px 0;
}

/* Стили адаптации*/
@media (min-width: 700px) {
  .page-header {
    background-image: url("../img/page-header__bg2.jpg");
    background-size: 100% 727px;
    &__top-line {
      padding: 20px 0;
    }
    &__wrap {
      padding-top: 92px;
      padding-bottom: 92px;
      background: url("../img/iphone-hend1.png") no-repeat center bottom;
    }
    &__content {
      height: 0;
      padding: 0;
      text-align: center;
      margin-bottom: 190px;
      background: none;
      h2 {
        font-size: 40px;
        font-weight: 300;
        width: 180px;
        margin-left: 52px;
      }
    }
  }
  .container {
    padding: 0 6%;
    margin: 0 auto;
  }
  .download-block {
    width: 300px;
    &__btn {
      padding: 14px 27px;
    }
    &__text {
      font-size: 18px;
    }
    &__wrap {
      padding: 0;
    }
  }
  .main-logo {
    width: 160px;
    &__img {
      display: block;
      margin: 0 0 10px 0;
    }
    &__link {
      h1 {
        display: none;
      }
    }
  }
  .main-content {
    &__title-head {
      font-family: "Open Sans", "Arial", sans-serif;
      font-size: 40px;
      font-weight: 300;
      margin: 0;
    }
    &__title-head--short-text {
      width: 340px;
      font-family: "Open Sans", "Arial", sans-serif;
      font-size: 40px;
      font-weight: 300;
      margin: 0 auto;
    }
    &__advantage-block {
      padding-top: 57px;
      padding-bottom: 7px;
      background-image: url("../img/iphone-helloy1.png"), url("../img/pattern_bg1.png");
      background-size: auto auto, 100% auto;
      background-position: 6% bottom, 50% -1px;
      background-repeat: no-repeat;
    }
    &__advantage-block-wrap {
      float: right;
      text-align: left;
    }
    &__advantage-content {
      width: 310px;
    }
    &__headtitle {
      padding: 40px 0;
      background: none;
    }
  }
  .toggle-menu {
    top: 45px;
  }
  .research-block {
    display: block;
    padding: 90px 6%;
    background-image: url("../img/timer.png");
    background-repeat: no-repeat;
    background-position: 6% center;
    &__content {
      float: right;
      width: 310px;
      text-align: left;
    }
    &__title {
      width: 170px;
      text-align: left;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
    }
    &__link {
      color: $text-color--red;
      text-decoration-color: $text-color--red;
    }
  }
  .slider-reviews {
    background: none;
    &__slide {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-items: center;
    }
    &__slide-text {
      width: 90%;
    }
    &__slide-subtitle {
      display: block;
    }
  }
  .tariff-block {
    padding: 150px 0 100px;
    background: #f1f1f1 url("../img/pattern_bg1.png") no-repeat;
    &__slider {
      display: none;
    }
    &__table {
      display: table;
      width: 100%;
      background: #fff;
      td {
        position: relative;
        padding: 12px 1.5%;
        border: 2px solid #e5e5e5;
        border-collapse: collapse;
      }
      .tariff-block__table-row-1 {
        > td:first-child {
          border-top-color: #f1f1f1;
          border-left-color: #f1f1f1;
          border-right-color: #f1f1f1;
          background: #f1f1f1;
        }
        td {
          position: relative;
          width: 22%;
          text-align: center;
          padding: 0 0;
          background: lighten($accent-color, 12%);
        }
      }
    }
    &__table-trftitle {
      margin: 12px ;
      font-size: 16px;
      text-transform: uppercase;
      color: #fff;
    }
    &__table-price {
      margin: 10px;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      text-transform: uppercase;
      color: $text-color--white;
    }
    &__flag--hit {
      position: absolute;
      width: 74px;
      height: 73px;
      top: -1px;
      left: 0;
      background: url("../img/sprite-flag--hit.png") no-repeat;
      background-size: 80% auto;
    }
    &__check-mark {
      position: absolute;
      width: 29px;
      height: 22px;
      top: 50%;
      left: 50%;
      margin-left: -14px;
      margin-top: -11px;
      background: url("../img/slide-check-mark.png") no-repeat;
    }
    &__check-mark--cross {
      position: absolute;
      width: 26px;
      height: 26px;
      top: 50%;
      left: 50%;
      margin-left: -13px;
      margin-top: -13px;
      background: url("../img/slide-check-mark--no.png") no-repeat;
    }
  }
  .info-block {
    display: flex;
    padding: 40px 8%;
    justify-content: space-around;
    flex-wrap: wrap;
    &__title {
      width: 65%;
      font-size: 40px;
      font-weight: 300;
    }
    &__item {
      width: 38%;
      margin-bottom: 50px;
    }
    &__item:nth-child(4) {
      width: 300px;
      margin-bottom: 0;
    }
  }
  .map {
    &__content--mobile {
      display: none;
    }
    &__content--tablet {
      display: block;
    }
  }
  .page-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__social {
      width: 180px;
    }
    &__social-btn {
      display: inline-block;
      vertical-align: middle;

      width: 45px;
      height: 45px;
      margin-left: 8px;
      margin-bottom: 5px;

      font-size: 0;

      border: 3px solid #e9ebec;
      border-radius: 50%;
      background: url("../img/sprite-icon.png") no-repeat;
      background-position: 15px 8px;
      cursor: pointer;
    }
    &__social-row {
      margin-left: -8px;
    }
    &__social-btn--fb {
      background-position: -50px 8px;
    }
    &__social-btn--yt {
      background-position: -112px 8px;
    }
    &__copyright {
      width: 192px;
    }
    &__copyright-link {
      display: inline-block;
      vertical-align: middle;

      width: 28px;
      height: 35px;
      margin-left: 10px;
      margin-right: 10px;

      background: url("../img/sprite-icon.png") no-repeat;
      background-position: -201px 1px;
    }
    &__copyright-link--for {
      margin-right: 0;
      background-position: -281px 1px;
    }
  }
}
