@charset "UTF-8";
/* Стили типографики */
h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
  line-height: 1.4em;
}

/* Стили страницы */
body {
  font-family: "Open Sans", "Arial", sans-serif;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  color: #d3d4d5;
  background-repeat: no-repeat;
  background-image: url("../img/page-header__bg1.jpg");
  background-size: 100% 484px;
  background-color: #1d2631;
}

.page-header__top-line {
  padding: 20px 6%;
  background: rgba(29, 38, 49, 0.65);
}

.page-header__content {
  height: 356px;
  padding: 30px 13%;
  text-align: center;
  background: url("../img/iphone-hend.png") no-repeat center bottom;
}

.page-header__title {
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
}

.main-logo {
  width: 22%;
}

.main-logo__img {
  display: none;
  float: left;
}

.main-logo__link {
  line-height: 0.9em;
  font-family: "Gotham Rounded";
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.main-logo__link h1 {
  margin: 0;
  line-height: 0.9em;
  font-family: "Gotham Rounded";
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
}

.toggle-menu {
  display: block;
  position: absolute;
  top: 31px;
  right: 6%;
  width: 50px;
  height: 4px;
  border: none;
  outline: none;
  background: #fff;
  font-size: 0;
}

.toggle-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 50px;
  height: 4px;
  background: #fff;
}

.toggle-menu::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 4px;
  background: #fff;
}

.main-menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 69px;
  left: 0;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-menu__list a {
  display: block;
  padding: 18px 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #1d2631;
}

.download-block {
  width: 100%;
  color: #d3d4d5;
}

.download-block__wrap {
  padding: 28px 6%;
  text-align: center;
}

.download-block__btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 36px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 40px;
}

.download-block__img {
  margin-bottom: 1px;
}

.download-block__img-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
  margin-top: 5px;
}

.download-block__img-item:nth-child(3n) {
  margin-right: 0;
}

.download-block-1 {
  display: none;
}

.main-content__headtitle {
  color: #283645;
  background-color: #fff;
  text-align: center;
  padding: 40px 6%;
  background: url("../img/sprite-pattern-bg.png") no-repeat center bottom;
  background-size: 100% auto;
}

.main-content__title-head {
  font-size: 24px;
  font-weight: 300;
}

.main-content__advantage-block {
  position: relative;
  padding: 30px 6% 300px;
  text-align: center;
  background: #f1f1f1 url("../img/iphone-helloy.png") no-repeat center bottom;
}

.main-content__advantage-content {
  margin-bottom: 40px;
}

.main-content__advantage-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-content__advantage-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.slider-reviews {
  position: relative;
  padding: 47px 0 70px;
  background: url("../img/sprite-pattern-bg.png") center bottom no-repeat;
  background-size: 100% auto;
}

.slider-reviews__slide {
  text-align: center;
  padding: 0 6%;
}

.slider-reviews__slide-text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.slider-reviews__pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 140px;
  height: 15px;
  text-align: center;
  margin-left: -70px;
}

.slider-reviews__pagination-item--active {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 3px solid #1d2631;
  background: #fff;
}

.slider-reviews__pagination-item {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #bec2c7;
}

.tariff-block {
  position: relative;
  padding: 50px 0 100px;
  background: #f1f1f1;
}

.tariff-block__slide-head {
  padding: 15px 0 10px;
  text-align: center;
  background: #1d2631;
}

.tariff-block__slide-title {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.tariff-block__slide-price {
  margin: 9px 0;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #d3d4d5;
}

.tariff-block__slide-flag--hit {
  position: absolute;
  top: 50px;
  left: 0;
  width: 74px;
  height: 73px;
  background: url(../img/sprite-flag--hit.png);
}

.tariff-block__slide-name-tariff {
  position: relative;
  padding: 21px 7%;
  color: #000;
  background: #fff;
  border-bottom: 2px solid #e5e5e5;
}

.tariff-block__slide-name-title {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.tariff-block__slide-check-mark {
  position: absolute;
  top: 17px;
  right: 22px;
  width: 29px;
  height: 22px;
  background: url("../img/slide-check-mark.png") no-repeat;
}

.tariff-block__slide-check-mark--cross {
  position: absolute;
  top: 17px;
  right: 25px;
  width: 26px;
  height: 26px;
  background: url("../img/slide-check-mark--no.png") no-repeat;
}

.tariff-block__table {
  display: none;
}

.tariff-block__slider-pagination {
  position: absolute;
  bottom: 45px;
  left: 50%;
  width: 140px;
  height: 15px;
  text-align: center;
  margin-left: -70px;
}

.tariff-block__slider-pagination-item {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 3px solid #f2f2f2;
  background: #bec2c7;
}

.tariff-block__slider-pagination-item--active {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 3px solid #1d2631;
  background: #fff;
}

.info-block {
  padding: 40px 6%;
  text-align: center;
}

.info-block__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 300;
}

.info-block__item {
  margin-bottom: 25px;
}

.info-block__item-title {
  color: #283645;
  margin: 0;
}

.info-block__item-text {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  color: #df798f;
}

.map__img {
  position: relative;
  top: 55px;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
}

/* Стили адаптации*/
@media (min-width: 700px) {
  .page-header {
    background-image: url("../img/page-header__bg2.jpg");
    background-size: 100% 727px;
  }
  .page-header__wrap {
    padding: 92px 6%;
    background: url("../img/iphone-hend1.png") no-repeat center bottom;
  }
  .page-header__content {
    height: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 190px;
    background: none;
  }
  .page-header__content h2 {
    font-size: 40px;
    font-weight: 300;
    width: 180px;
    margin-left: 52px;
  }
  .page-header__container-left {
    display: block;
    width: 43%;
  }
  .download-block {
    width: 300px;
  }
  .download-block__btn {
    padding: 14px 27px;
  }
  .download-block__text {
    font-size: 18px;
  }
  .download-block__wrap {
    padding: 0;
  }
  .main-logo {
    width: 23%;
  }
  .main-logo__img {
    display: block;
    margin: 0 0 10px 0;
  }
  .main-logo__link h1 {
    display: none;
  }
  .main-content__advantage-block {
    padding: 30px 6% 0;
    background: #f1f1f1 url("../img/iphone-helloy1.png") no-repeat left bottom;
  }
  .main-content__headtitle {
    background: none;
  }
  .main-content__advantage-wrap {
    background: url("../img/pattern_bg1.png") no-repeat center top;
    background-size: 100% auto;
  }
  .toggle-menu {
    top: 45px;
  }
}

@media (min-width: 321px) {
  .main-content__advantage-block {
    background-color: #f1f1f1;
  }
}
